h2. Source
p. The core implementation of each sorting algorithm is given below. The actual functions run with additional overhead to support benchmarking.

div.row
  div.col-md-2
    ul.nav.nav-pills.nav-stacked
      - var i = 0;
      - for (var algorithm in algorithms)
        - if (['stats', 'afterAccess', 'afterComparison'].indexOf(algorithm) < 0)
          - i++;
            li(data-ng-class='{ active: isActive(#{i}) }', data-ng-click='setActive(#{i})')
              a.is-clickable #{algorithm}
  div.col-md-10.language-javascript
      - var i = 0;
      - for (var algorithm in algorithms)
        - if (['stats', 'afterAccess', 'afterComparison'].indexOf(algorithm) < 0)
          - i++;
            pre(data-ng-show='isActive(#{i})')
              code
                | algorithms.#{algorithm} = #{algorithms[algorithm].toString()}
